
@font-face {
    font-family: Tungsten;
    src: url('../Font/TungstenCond-Book.otf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.buttonColors {
    color: aliceblue;
    text-decoration: none;
}

.app__main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.blockone {
    display: flex;
    height: 500px;
    text-align: center;
    align-items: center;
    font-family: Tungsten;
    font-size: 40px;
    color: white;
    background-color: black;
    top: 90px;
    
}

.blocktext {
    font-family: Tungsten;
    margin-left: 60px;
    margin-right: 60px;
}

.full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 15px;

}
.fullscreen__body {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 90px;

}
.fullscreen__title {
    font-family: Tungsten;
    font-size: 80px;
    letter-spacing: 25px;
    font-weight: 700;
    margin: 0px 0px 25px 0px;
}
.fullscreen__text {
    font-family: Tungsten;
    font-size: 45px;
    letter-spacing: 15px;
    font-weight: 700;

}
.fullscreen__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;

}
.about {
    background-color: red;   
    max-width: 100%;
    height: 2500px;
    padding-right: 25px;
    margin-top: 90px;



  
}
.about__text {
    width: 100%;
    height: 900px;
    background-color: red;
    font-family: Tungsten;
    font-size: 45;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 15px;
    padding: 0px 15px;
    line-height: 1; 

}
.big__text {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: red;
    font-family: Tungsten;
    font-size: 90px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 0px 15px;
    line-height: 150%; 
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 90px;
}

.music {
    margin-top: 90px;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    width: 10px;
    height: 10px;
    text-decoration: none;
    color: #000;
}
@media (min-width: 400px) {
    .about {
        height: 2000px;
    }
} 

@media (min-width: 450px) {
    .about {
        height: 1700px;
    }
} 

@media (min-width: 600px) {
    .about {
        height: 1500px;
    }
}

@media (min-width: 790px) {
    .about {
        height: 1200px;
    }
}





.github a:hover {background: #191919; color: #fff;}
.youtube a:hover {background: #c4302b; color: #fff;}
.google-pluse a:hover {background: #DD4B39; color: #fff;}
.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.odnoklassniki a:hover {background: #f93; color: #fff;}
.pinterest a:hover {background: #c8232c; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.tumblr a:hover {background: #34526f; color: #fff;}
.windows a:hover {background: #125acd; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}
.weibo a:hover {background: #d52b2b; color: #fff;}
.dropbox a:hover {background: #1087dd; color: #fff;}